<nav class="navbar navbar-expand-lg justify-content-start position-sticky top-0 px-lg-5">
    <button class="navbar-toggler nav-menu-btn" type="button" data-bs-toggle="offcanvas" data-bs-target="#mobileMenu">
        <span class="navbar-toggler-icon"></span>
    </button>
    <a class="navbar-brand" href="/">
        <img src="/images/Logo.png" alt="LOGO">
    </a>

    <div class="collapse navbar-collapse" id="">
        <ul class="navbar-nav">
            <li class="nav-item">
                <a class="nav-link" href="#">WOMEN</a>
                <!--Dropdown -->
                <div class="full-screen-dropdown p-5">
                    <ul class="navbar-nav">
                        <li>
                            <a href="#">FEATURED</a>
                            <ul>
                                <li><a href="#">New Arrivals</a></li>
                                <li><a href="#">Loungewear</a></li>
                                <li><a href="#">Bestsellers</a></li>
                                <li><a href="#">Warm Layers</a></li>
                                <li><a href="#">Unisex</a></li>
                            </ul>
                        </li>
                        <li>
                            <a href="#">CLOTHING</a>
                            <ul>
                                <li><a href="#">View All</a></li>
                                <li><a href="#">Plain T-Shirts</a></li>
                                <li><a href="#">Graphic T-Shirts</a></li>
                                <li><a href="#">Multibuy T-Shirts</a></li>
                                <li><a href="#">All T-Shirts &amp; Tops</a></li>
                                <li><a href="#">Warm Layers</a></li>
                                <li><a href="#">Jackets</a></li>
                                <li><a href="#">Hoodies &amp; Sweatshirts</a></li>
                                <li><a href="#">Knitwear</a></li>
                                <li><a href="#">Shirts</a></li>
                                <li><a href="#">Trousers</a></li>
                                <li><a href="#">Jumpsuits &amp; Playsuits</a></li>
                                <li><a href="#">Swimwear</a></li>
                                <li><a href="#">Pyjamas</a></li>
                            </ul>
                        </li>
                        <li>
                            <a href="#">ACCESSORIES</a>
                            <ul>
                                <li><a href="#">View All</a></li>
                                <li><a href="#">Beanies</a></li>
                                <li><a href="#">Socks &amp; Underwear</a></li>
                                <li><a href="#">Robes &amp; Towels</a></li>
                                <li><a href="#">Backpacks &amp; Bags</a></li>
                                <li><a href="#">Gift Cards</a></li>
                            </ul>
                        </li>
                        <li>
                            <a href="#">PRINT EDITS</a>
                            <ul>
                                <li><a href="#">An Island Winter</a></li>
                                <li><a href="#">Millie Sandy Collaboration</a></li>
                                <li><a href="#">Off Road</a></li>
                                <li><a href="#">Classic Prints</a></li>
                                <li><a href="#">Lifestyle Edits</a></li>
                            </ul>
                        </li>
                        <li>
                            <a href="#">SAVE ON ESSENTIALS</a>
                            <ul>
                                <li><a href="#">2 for £60 - Kangaroo Pocket Hoodies</a></li>
                                <li><a href="#">3 for £15 - Trainer Socks</a></li>
                                <li><a href="#">Multibuy T-Shirts</a></li>
                            </ul>
                        </li>
                    </ul>
                </div>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="#">MEN</a>
                <!--Dropdown -->
                <div class="full-screen-dropdown p-5">
                    <ul class="navbar-nav">
                        <li>
                            <a href=""> FEATURED </a>
                            <ul>
                                <li><a href=""> New Arrivals </a></li>
                                <li><a href=""> Loungewear </a></li>
                                <li><a href=""> Bestsellers </a></li>
                                <li><a href=""> Warm Layers </a></li>
                                <li><a href=""> Unisex </a></li>
                            </ul>
                        </li>
                        <li>
                            <a href=""> CLOTHING </a>
                            <ul>
                                <li><a href=""> View All </a></li>
                                <li><a href=""> Plain T-Shirts </a></li>
                                <li><a href=""> Graphic T-Shirts </a></li>
                                <li><a href=""> Multibuy T-Shirts </a></li>
                                <li><a href=""> All T-Shirts &amp; Tops </a></li>
                                <li><a href=""> Warm Layers </a></li>
                                <li><a href=""> Jackets </a></li>
                                <li><a href=""> Hoodies &amp; Sweatshirts </a></li>
                                <li><a href=""> Knitwear </a></li>
                                <li><a href=""> Shirts </a></li>
                                <li><a href=""> Trousers </a></li>
                                <li><a href=""> Swimwear </a></li>
                                <li><a href=""> Pyjamas </a></li>
                            </ul>
                        </li>
                        <li>
                            <a href=""> ACCESSORIES </a>
                            <ul>
                                <li><a href=""> View All </a></li>
                                <li><a href=""> Beanies </a></li>
                                <li><a href=""> Socks &amp; Underwear </a></li>
                                <li><a href=""> Robes &amp; Towels </a></li>
                                <li><a href=""> Backpacks &amp; Bags </a></li>
                                <li><a href=""> Gift Cards </a></li>
                            </ul>
                        </li>
                        <li>
                            <a href=""> PRINT EDITS </a>
                            <ul>
                                <li><a href=""> An Island Winter </a></li>
                                <li><a href=""> Millie Sandy Collaboration </a></li>
                                <li><a href=""> Off Road </a></li>
                                <li><a href=""> Classic Prints </a></li>
                                <li><a href=""> Lifestyle Edits </a></li>
                            </ul>
                        </li>
                        <li>
                            <a href=""> SAVE ON ESSENTIALS </a>
                            <ul>
                                <li><a href=""> 2 for £60 - Kangaroo Pocket Hoodies </a></li>
                                <li><a href=""> 3 for £20 - Organic Cotton Boxers </a></li>
                                <li><a href=""> Multibuy T-Shirts </a></li>
                            </ul>
                        </li>
                    </ul>
                </div>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="#">RECYCLE</a>
                <!-- Full-Screen Dropdown -->
                <div class="full-screen-dropdown p-5">
                    <ul class="navbar-nav">
                        <li>
                            <a href=""> RECYCLE </a>
                            <ul>
                                <li><a href=""> Recycle Your Clothes </a></li>
                                <li><a href=""> Shop Recycled </a></li>
                            </ul>
                        </li>
                    </ul>
                </div>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="#">PERSONALISED</a>
                <!-- Full-Screen Dropdown -->
                <div class="full-screen-dropdown p-5">
                    <ul class="navbar-nav">
                        <li>
                            <a href=""> PERSONALISED </a>
                            <ul>
                                <li><a href=""> Shop Personalised </a></li>
                                <li><a href=""> Shop Men's Personalised </a></li>
                                <li><a href=""> Shop Women's Personalised </a></li>
                            </ul>
                        </li>
                        <li>
                            <a href=""> MEN'S PERSONALISED </a>
                            <ul>
                                <li><a href=""> All Personalised Clothing </a></li>
                                <li><a href=""> Men's Personalised T-Shirt </a></li>
                                <li><a href=""> Men's Personalised Hoodie </a></li>
                                <li><a href=""> Men's Personalised Sweatshirt </a></li>
                                <li><a href=""> Men's Personalised Vest Top </a></li>
                                <li><a href=""> Men's Personalised Oversized Tee </a></li>
                                <li><a href=""> Men's Personalised Longline T-Shirt </a></li>
                                <li><a href=""> Personalised Tote Bag </a></li>
                                <li><a href=""> Shop More </a></li>
                            </ul>
                        </li>
                        <li>
                            <a href=""> WOMEN'S PERSONALISED </a>
                            <ul>
                                <li><a href=""> All Personalised Clothing </a></li>
                                <li><a href=""> Women's Personalised T-Shirt </a></li>
                                <li><a href=""> Women's Personalised Boxy Tee </a></li>
                                <li><a href=""> Women's Personalised Vest Top </a></li>
                                <li><a href=""> Women's Personalised Hoodie </a></li>
                                <li><a href=""> Women's Personalised Oversized Tee </a></li>
                                <li><a href=""> Women's Personalised Boxy Jumper </a></li>
                                <li><a href=""> Personalised Tote Bag </a></li>
                                <li><a href=""> Shop More </a></li>
                            </ul>
                        </li>
                    </ul>
                </div>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="#">STORIES</a>
                <!-- Full-Screen Dropdown -->
                <div class="full-screen-dropdown p-5">
                    <ul class="navbar-nav">
                        <li>
                            <a href=""> OUR STORY </a>
                            <ul>
                                <li><a href=""> Our Story </a></li>
                                <li><a href=""> Our Pursuit </a></li>
                            </ul>
                        </li>
                        <li>
                            <a href=""> COMMUNITY </a>
                            <ul>
                                <li><a href=""> All Stories </a></li>
                            </ul>
                        </li>
                        <li>
                            <a href=""> TOP STORIES </a>
                            <ul>
                                <li><a href=""> Finding joy in the chill with Bryony </a></li>
                                <li><a href=""> Let's Take Back Friday </a></li>
                                <li><a href=""> Tales from Eryri </a></li>
                                <li><a href=""> In Pursuit of Clean Seas </a></li>
                            </ul>
                        </li>
                    </ul>
                </div>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="/contact/complaint">ContactUs</a>
            </li>
        </ul>
        <div class="container d-flex justify-content-end align-items-center">
            <% if (currentUser) { %>
                <a href="/order/my-orders" class="btn nav-icon">
                    <img src="/images/orders.png" alt="Login">
                </a>
            <% } %>
            <a href="/cart" class="btn">
                <img style="max-height: 38px;" src="/images/cart.png" alt="Cart">
            </a>
            <% if (!currentUser) { %>
                <a href="/user/login" class="btn nav-icon">
                    <img src="/images/login.png" alt="Login">
                </a>
                <% } else { %>
                <form action="/user/logout" method="POST" style="display: inline;">
                    <button type="submit" class="btn nav-icon">
                    <img src="/images/logout.png" alt="Logout">
                    </button>
                </form>
            <% } %>

        </div>
</nav>
<div class="offcanvas offcanvas-start mobile-menu" tabindex="-1" id="mobileMenu" aria-labelledby="offcanvasLabel">
    <div class="offcanvas-header">
        <button type="button" class="btn-close" data-bs-dismiss="offcanvas" aria-label="Close"></button>
    </div>
    <div class="offcanvas-body">
        <ul class="menu-list">
            <li><a href="#">WOMEN <span>→</span></a></li>
            <li><a href="#">MEN <span>→</span></a></li>
            <li><a href="#">RECYCLE <span>→</span></a></li>
            <li><a href="#">PERSONALISED <span>→</span></a></li>
            <li><a href="#">STORIES <span>→</span></a></li>
        </ul>
    </div>
</div>