<div class="a-bar">
    <div class="container ">
        <div class="row">
            <div class="col-12 d-flex justify-content-center">
                <div class="carousel slide" data-bs-ride="carousel">
                    <div class="carousel-inner">
                        <div class="carousel-item active">
                            <span class="d-block w-100">Free Standard Delivery on all orders this weekend</span>
                        </div>
                        <div class="carousel-item">
                            <span class="d-block w-100">5 for £60 - Short Sleeve T-Shirts →</span>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
